.box {
  width: 300px;
  height: 200px;
  margin: auto;
  border: 1px solid red;
  background-image: url(cleaning-service.png);
  background-size: cover;
  background-position: 0 0;
  transition: 1.5s;
}
.box:hover {
  background-position: 0 100%;
}
